body {
  background-color: white;
  color: rgb(30,30,30);
  font-family: serif;
  font-size: 16px;
}
h1,h2,h3 {
	font-family: oswald;
	background-color: #D2E0FB
}
h1 {
	color: #363062;
	font-size: 32px
	font-weight: 900	
}
h2 {
	color: #3876BF;
	font-size: 20px;
	font-weight: lighter;
	font-weight: 500;
}
a {
	font-family: 'Roboto', sans-serif
	text-decoration: none;
	color: #363062
	font-weight: 600;
	font-size: 16px;
}
a:hover {
	color: black;
}



/ custom design with class 
.container {
	width: 700px;
	margin: 50px auto;
}
@media (max-width: 500px) {
	.container {
		width: 400px;
	}



}
.card-white {
	background-color: #8EACCD 
	padding: 30px;
	box-shadow: 0px 20px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 40px;
	text-align: center;
}

.img-circle {
	border-radius: 50%
}
.btn-blue {
	background-color: #D2E0FB;
	color: white;
	padding: 15px 20px;
	border-radius: 4px
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 50px;
	color: rgb(230,230,230);
}
#introduction p {
	margin-bottom: 40px;
}